[project]
name = "outbound-copilot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "beautifulsoup4>=4.14.2",
    "openai>=2.7.2",
    "sendgrid>=6.12.5",
]
